In [84]:
import pandas as pd
import numpy as np

In [83]:
df_train=pd.read_csv("train.csv")

In [47]:
# QUESTION 1
grouped=df_train.groupby('Pclass')
##print(grouped.agg(np.size))

num_survived=grouped['Survived'].agg(np.sum)
num_people=grouped['Survived'].agg(np.size)
print(num_survived/num_people)

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [48]:
# QUESTION 2 
fare=df_train.sort_values(by='Fare',ascending =False)
print(fare.head())

     PassengerId  Survived  Pclass                                Name  \
258          259         1       1                    Ward, Miss. Anna
737          738         1       1              Lesurer, Mr. Gustave J
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
88            89         1       1          Fortune, Miss. Mabel Helen
27            28         0       1      Fortune, Mr. Charles Alexander

        Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
258  female  35.0      0      0  PC 17755  512.3292          NaN        C
737    male  35.0      0      0  PC 17755  512.3292         B101        C
679    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
88   female  23.0      3      2     19950  263.0000  C23 C25 C27        S
27     male  19.0      3      2     19950  263.0000  C23 C25 C27        S

In [50]:
# QUESTION 3
print(df_train.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [52]:
# QUESTION 4 
df_train['Age'].fillna(df_train['Age'].median,inplace=True)
print(df_train.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [187]:
# QUESTION 5
df = pd.DataFrame(columns = df_train.columns)

df = df_train[(df_train.Age > 60)]
df=df.sort_values(by ='PassengerId')
print (df.head())

     PassengerId  Survived  Pclass                            Name   Sex  \
33            34         0       2           Wheadon, Mr. Edward H  male
54            55         0       1  Ostby, Mr. Engelhart Cornelius  male
96            97         0       1       Goldschmidt, Mr. George B  male
116          117         0       3            Connors, Mr. Patrick  male
170          171         0       1       Van der hoef, Mr. Wyckoff  male

      Age  SibSp  Parch      Ticket     Fare Cabin Embarked Title
33   66.0      0      0  C.A. 24579  10.5000   NaN        S    Mr
54   65.0      0      1      113509  61.9792   B30        C    Mr
96   71.0      0      0    PC 17754  34.6542    A5        C    Mr
116  70.5      0      0      370369   7.7500   NaN        Q    Mr
170  61.0      0      0      111240  33.5000   B19        S    Mr

In [86]:
# QUESTION 6
group = df_train.groupby(['Pclass', 'Embarked'])
print (group['Fare'].agg([np.mean, np.std]))

                       mean        std
Pclass Embarked
1      C         104.718529  99.093935
       Q          90.000000   0.000000
       S          70.364862  58.811278
2      C          25.358335  11.345067
       Q          12.350000   0.000000
       S          20.327439  13.630741
3      C          11.214083   4.871528
       Q          11.183393   6.721677
       S          14.644083  13.276609

In [140]:
#QUESTION 7
titles= df_train.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
print(titles.unique())

['Mr' 'Mrs' 'Miss' 'Master' 'Don' 'Rev' 'Dr' 'Mme' 'Ms' 'Major' 'Lady'
 'Sir' 'Mlle' 'Col' 'Capt' 'Countess' 'Jonkheer']

In [197]:
#QUESTION 8
df=pd.DataFrame(columns=['Survival rate','Title'])
df['Title']=titles
df1=df.groupby('Title')
k=df1['Title'].agg(np.size)

l=df_train['Survived'].agg(np.sum)
print(k/l)

Title
Capt        0.002924
Col         0.005848
Countess    0.002924
Don         0.002924
Dr          0.020468
Jonkheer    0.002924
Lady        0.002924
Major       0.005848
Master      0.116959
Miss        0.532164
Mlle        0.005848
Mme         0.002924
Mr          1.511696
Mrs         0.365497
Ms          0.002924
Rev         0.017544
Sir         0.002924
Name: Title, dtype: float64

In [139]:
#QUESTION 9
print(titles.unique())

['Mr' 'Mrs' 'Miss' 'Master' 'Don' 'Rev' 'Dr' 'Mme' 'Ms' 'Major' 'Lady'
 'Sir' 'Mlle' 'Col' 'Capt' 'Countess' 'Jonkheer']